fastapi==0.104.1
uvicorn==0.24.0
sqlalchemy==1.4.51
psycopg2-binary==2.9.11
python-dotenv==1.2.1
python-multipart==0.0.6
python-jose==3.3.0
passlib==1.7.4
bcrypt==5.0.0
pydantic==2.12.5
requests==2.32.5
groq==1.1.2
httpx==0.28.1
python-pptx==1.0.2
PyMuPDF==1.27.1
PyPDF2==3.0.1
Authlib==1.6.9
itsdangerous==2.2.0
azure-storage-blob==12.28.0
azure-core==1.39.0
slowapi==0.1.9
edge-tts==7.2.7
moviepy==1.0.3
Pillow==9.5.0
gTTS==2.5.4
pydub==0.25.1
xlsxwriter==3.2.9
python-dateutil==2.9.0.post0
